<%= form_for(@report) do |f| %>
  <% if @report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% @report.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div>

  </div>
  <div class="date_field">
    <%= f.label "報告日付" %>
    <%= f.date_select(
        :reported_date,
        use_month_numbers: true,
        start_year: Date.today.year - 1,
        default: Date.today(),
        date_separator:    ' / ')%>
  </div>

  <div class="work_time_field">
    <div class="time_field">
      <%= f.label "出勤時間"%>
      <%= f.time_select :work_start_time,
                        :default => {:hour => '9', :minute => '00'},
                        :minute_step => 10  %>
    </div>

    <div class="time_field">
      <%= f.label "退勤時間"%>
      <%= f.time_select :work_end_time,
                        :default => {:hour => '18', :minute => '00'},
                        :minute_step => 10  %>
    </div>
  </div>

<!--   <div class="rest_field">
    <%#= f.label "休暇" %>
    <%#= f.select :rest, { "なし" => nil, "全休" => "all", "半休" => "half" }%>

  </div> -->

  <div class="field">
    <%= f.label "題名" %>
    <%= f.text_field :title, placeholder:"日報のタイトル..." %>
  </div>
  <div class="field">
    <%= f.label "本文" %>
    <%= f.text_area :body_text, placeholder:"日報の本文..." %>
  </div>
  <div class="field">
    <%= f.label "公開フラグ" %>
    <%= f.check_box :public_flag, {}, true, false %>
  </div>

  <div class="field">
    <%= %>
  </div>

  <div class="actions">
    <%= f.submit(['save report',]) %>
  </div>
<% end %>
