<h2>全ての日報一覧</h2>


<div class="date_field">
<%= form_tag admin_reports_list_path, :mithod => 'get' do %>

  フィルター<br>
  <%= text_field_tag :user, params[:user]%>ユーザーID
  <br>
  <%= text_field_tag :year, params[:year]%>年
  <%= text_field_tag :month, params[:month]%>月
  <br>
  公開状態 : <%= check_box_tag :public_flag %><br>
  <%= submit_tag "更新", :name => 'fillterd' %>
  <%= submit_tag "リセット", :name => 'fillter_riset' %>
<% end %>
</div>

<%= render 'shared/report_list'%>