<p id="notice"><%= notice %></p>

<p>
  <b>Author:</b>
  <%= @report.user.name %>
</p>


<p>
  <b>Date:</b>
  <%= @report.reported_date %>
</p>

<p>
  <b>Time:</b>
  <%= @report.work_start_time.strftime('%H:%M') %> ~ <%= @report.work_end_time.strftime('%H:%M') %>
</p>

<p>
  <b>Title:</b>
  <%= @report.title %>
</p>

<p>
  <b>Bodytext:</b>
  <%= @report.body_text %>
</p>

<p>
  <b>公開状態</b>
  <%= @report.public_flag? %>
</p>
<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'home', root_path %>
