<!DOCTYPE html>
<html>
<head>
  <title>DailyReportAppV2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header'%>

<div class="container">

  <!--  Devise Error massage -->
<!--   <%# if notice %>
    <div class="alert alert-notice"><%= notice %></p>
  <%# end %>
  <%# if alert %>
    <div class="alert alert-error"><%= alert %></p>
  <%# end %> -->

  <% flash.each do |key,value|%>
    <%= content_tag(:div, value, class: "alert alert-#{key}")%>
  <% end %>

  <%= yield %>
</div>

</body>
<footer>
  <%= render 'layouts/footer'%>
</footer>
</html>
